@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --Branco: white;
    --Preto: black;
    --Cinza: gray;

    --Fonte-padrão: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--Fonte-padrão);
}

::-webkit-scrollbar {
    background-color: white;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
}

header {
    height: 90px;
    width: 100%;
    display: flex;
}

#menu-topo {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    padding: 0px 80px 0px 80px;

}

#logo [alt=Home] {
    height: 33px;
}

/*
#busca {
    display: flex;
    width: 80px;
    height: 100%;
    align-items: center;
}
*/

/*
#lupa [alt=busca] {
    display: flex;
    height: 25px;
}
*/

::selection {
    background-color: red;
    color: white;
}

nav>a {
    text-decoration: none;
    color: black;
}

nav>a:hover {
    color: darkgrey;
}

#mainInformation {
    width: 100%;
    height: 100%;
}

#mainInformation > h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
    margin-top: 80px;
}

#mainInformation > p {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    line-height: 50px;
}

#blocos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    gap: 30px;
}

#blocos>a {
    text-decoration: none;
    color: black;
}

#blocos>a:hover {
    margin-top: -30px;
    transition: 0.5s;
    filter: invert(100%);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.267);
}

#card-conserto {
    background-color: white;
    border: 3px solid black;
    width: 250px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

#card-conserto:hover {
    border: none;
}

#card-conserto>p {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

#card-peças {
    background-color: white;
    border: 3px solid black;
    width: 250px;
    height: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#card-peças:hover {
    border: none;
}

#card-peças>p {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

#card-seguro {
    background-color: white;
    border: 3px solid black;
    width: 250px;
    height: 235px;
    /*width: 15vw;
    height: 30vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#card-seguro:hover {
    border: none;
}

#card-seguro>p {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

#container-1 {
    width: 97.5%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /*
    background-color: bisque;
    */
}

.compartimento-1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    /*
    background-color: aqua;
    */
    width: 1120px;
    height: 836.34px;
}

.compartimento-1 > h1 {
    padding: 30px;
    font-size: 32px;
    text-align: center;
}

.compartimento-1 > p {
    padding: 26px;
    padding-left: 0px;
    padding-right: 0px;
    text-indent: 30px;
    line-height: 39.45px;
    text-align: justify;
    font-size: 20.8px;
}

.img-1 {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#container-2 {
    width: 97.5%;
    height: 100%;
    padding: 80px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /*
    background-color: bisque;
    */
}

.compartimento-2 {
    display: flex;
    background-color: white;
    /*
    background-color: aqua;
    */
    width: 1120px;
    height: 512.85px;
}

#position-text {
    display: flex;
    flex-direction: column;
}

#position-text>h1 {
    text-align: center;
    font-size: 32px;
    padding: 20px;
    padding-top: 48px;
}

#position-text>p {
    padding: 5px 30px 20px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 39.45px;
    font-size: 20.8px;
}

.img-2 {
    display: flex;
    width: 307%;
    height: 100%;
    justify-content: center;
    justify-items: center;
}

#container-3 {
    width: 97.5%;
    height: 100%;
    padding: 80px 20px 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /*
    background-color: bisque;
    */
}

.compartimento-3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    /*
    background-color: aqua;
    */
    width: 1120px;
    height: 947.5889999999999px;
}

.compartimento-3>h1 {
    padding: 30px;
    font-size: 32px;
    text-align: center;
}

.compartimento-3>p {
    padding: 26px;
    padding-left: 0px;
    padding-right: 0px;
    text-indent: 30px;
    line-height: 39.45px;
    text-align: justify;
    font-size: 20.8px;
}

.img-3 {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#container-form {
    display: flex;
    background-image: url(imgs/formulario/audi_a3_sedan_35_tfsi.jpg);
    background-size: cover;
    background-position: bottom;
    height: 105vh;
    width:  99,4vw;
    justify-content: flex-end;
    align-items: center;
}

#formulario {
    width: 512px;
    height: 315.6px;
    background-color: white;
    border-radius: 5px;
}

#formulario > form {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 7px 0px #00000017;
}

#headerForm {
    background-color: black;
    height: 27%;
    border-radius: 4px 4px 0px 0px;
}

#headerForm > h1 {
    color: white;
    margin: auto;
    text-align: center;
}

article {
    padding: 0px 150px 100px 0px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    width: 65px;
    display: inline-block;
    font-size: 20px;
}

form {
    display: flex;
    width: 100%;
    height: 73%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    width: 244px;
    height: 40px;
    font-size: 17px;
    padding: 8px;
    border-radius: 50px;
    border: none;
    background-color: #0000000d;
    outline: none;
    text-align: center;
}

button {
    height: 40px;
    width: 215px;
    border-radius: 3px;
    background-color: white;
    font-weight: 800;
    cursor: pointer;
}

button:hover {
    transition: 0.3s;
    color: white;
    background-color: black;
}

#imgform {
    width: 100%;
    height: 100%;
}

footer > section {
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 12px;
}

#final {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.baixo {
    color: white;
}



