@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --Branco: white;
    --Preto: black;
    --Cinza: gray;

    --Fonte-padrão: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--Fonte-padrão);

}

header {
    height: 5vw;  
}

nav {
    margin-left: 80px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

#logo [alt=Home]{
    width: 4vw;
}

nav > a {
    text-decoration: none;
    color: black;
}

nav > a:hover {
    color: darkgrey;
}

#title-img {
    position: absolute;
    top: 80%;
    left: 22%;
    font-size: 7vh;
    color: white;
}

main {
    width: 100%;
    height: 25vh;
}

main > h1 {
    text-align: center;
    margin-top:30px ;
    font-size: 4vw;
}

main > p {
    text-align: center;
    font-size: 1.5vw;
    margin-top: 30px;
    line-height: 50px;
}

#blocos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    gap: 30px;
}

#blocos > a {
    text-decoration: none;
    color: black;
} 

#blocos > a:hover {
   margin-top: -30px;  
   transition: 0.5s;
   filter: invert(100%);
} 



#card-conserto {
    background-color: white;
    border: 3px solid black;
    width: 15vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    
}

#card-conserto > p {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

#card-peças {
    background-color: white;
    border: 3px solid black;
    width: 15vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#card-peças > p {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

#card-seguro {
    background-color: white;
    border: 3px solid black;
    width: 15vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#card-seguro > p {
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}

#container-1 {
    width: 97.5%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.compartimento-1 {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 70vw;
    height: 106vh;
    
}

.compartimento-1 > h1 {
    padding: 30px;
    font-size: 2vw;
    text-align: center;
}

.compartimento-1 > p {
    padding: 26px;
    padding-left: 0px;
    padding-right: 0px;
    text-indent: 30px;
    line-height: 5vh;
    text-align: justify;
    font-size: 1.3vw;
}

.img-1 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
}

#container-2 {
    width: 97.5%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.compartimento-2 {
    display: flex;
    background-color: aqua;
    width: 70vw;
    height: 65vh; 
}

#position-text {
    display: flex;
    flex-direction: column;
}

#position-text > h1 {
    text-align: center;
    font-size: 2vw;
    padding: 20px;
    padding-top: 48px;
}

#position-text > p {
    padding: 5px 30px 20px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 5vh;
    font-size: 1.3vw;
}

 
.img-2 {
    display: flex;
    width: 307%;
    height: 100%;
    justify-content: center;
    justify-items: center;
}

#container-3 {
    width: 97.5%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.compartimento-3 {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 70vw;
    height: 120.1vh;
    
}

.compartimento-3 > h1 {
    padding: 30px;
    font-size: 2vw;
    text-align: center;
}

.compartimento-3 > p {
    padding: 26px;
    padding-left: 0px;
    padding-right: 0px;
    text-indent: 30px;
    line-height: 5vh;
    text-align: justify;
    font-size: 1.3vw;
}

.img-3 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
}












